.main-mid-bottom-1{
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-self: unset;
    align-items: baseline;
    margin-left: 1rem;
    
}
.main-mid-bottom-1-head{
    margin-bottom: 2rem;
}