.stats-box{
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 1rem;
    border-radius: 2rem;
}

.stats-box h3{
    font-size: x-large;
    color: black
}
.stats-box h1{
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black
}
.stats-box p{
    font-size: small;
    color: black;
}