.nav{
    border-radius: 1rem;
    border: 1px solid lightgray;
    height: 100%;
    background-color: #FFFF;
}
.navhead{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    color: black;
    margin-bottom: 2rem;
}
.navhead:hover{
    cursor: pointer;
}
.nav-list{

}
.nav-list-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.5rem;
    margin-left: 1rem;
}
.nav-list-content h2{
    margin-left: 0.5rem;
    color: black;
}
.nav-profile-right h2{
    color: black;
}