.main-low-3{
    height: 100%;
    width: 100%;

}
.main-low-3-head{
    text-align: start;
    margin-left: 1rem;
    margin-bottom: 2rem;
}
.main-low-2-box{
    color: #734A00;
    background-color: #FFF7E8;
}